@import url("https://fonts.googleapis.com/css?family=Montserrat|PT+Sans|Quicksand");
* { box-sizing: border-box; }

body { font-family: "Montserrat", sans-serif; margin: 0 auto; }

.container { max-width: 1100px; margin: 0 auto; }

nav { background-color: black; height: 90px; }

.nav-menu { display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; -ms-flex-pack: justify; justify-content: space-between; }

.menu-list { display: -ms-flexbox; display: flex; list-style-type: none; font-size: 14px; text-transform: uppercase; font-weight: 700; }

.menu-item { margin-left: 15px; margin-top: 25px; text-align: center; }

.menu-item:after { content: ""; border: 5px solid #b88b58; display: inline-block; vertical-align: bottom; width: 85%; margin-top: 22px; visibility: hidden; }

.menu-item:hover:after { visibility: visible; }

.menu-item > a { text-decoration: none; color: white; }

.hero { height: 90.5vh; background-image: url("/images/hero.jpg"); background-position: center; background-repeat: no-repeat; background-size: cover; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; -ms-flex-align: center; align-items: center; -ms-flex-pack: center; justify-content: center; }

.hero-header { font-size: 72px; text-transform: uppercase; font-weight: bold; margin: 0 auto; }

.hero-header-one { color: white; }

.hero-header-two { color: #b88b58; }

.hero-phone { color: white; font-size: 24px; }

.hero-btn { width: 194px; height: 45px; background-color: #b88b58; border: none; border-radius: 25px; color: white; font-weight: 700; font-size: 12px; text-transform: uppercase; transition: all 0.4s linear; }

.hero-btn:hover { cursor: pointer; transform: scale(1.1); box-shadow: 0 0 6px black; }

.hero-carousel-circle { width: 15px; height: 15px; border-radius: 50%; border: 3px solid #b88b58; margin: 8px; }

.carousel-circle-active { background-color: #b88b58; }

.hero-carousel-circles { display: -ms-flexbox; display: flex; position: absolute; bottom: 4vh; }

.hero-phone-btn { height: 65px; width: 65px; border: none; border-radius: 50%; background-color: #b88b58; color: white; transform: rotate(-45deg); position: relative; left: 42vw; bottom: -29vh; box-shadow: 0 0 20px black; }

.fa-phone-hero { color: white; font-size: 48px; }

.about { height: 450px; }

.about-header, .about-sub-header { text-align: center; text-transform: uppercase; }

.about-header { font-size: 30px; font-weight: bolder; margin-top: 63px; }

.about-sub-header { font-size: 14px; color: #aeaeae; }

.about-header-container { padding-bottom: 55px; }

.about-text-container { width: 57%; }

.about-btn { width: 194px; height: 45px; background-color: #b88b58; border: none; border-radius: 25px; color: white; font-weight: 700; font-size: 12px; text-transform: uppercase; transition: all 0.4s linear; margin-top: 34px; }

.about-btn:hover { cursor: pointer; transform: scale(1.1); box-shadow: 0 0 6px black; }

.about-paragraph { margin-top: 0; }

.about-video-container { background-image: url("/images/video1.jpg"); background-position: center; background-size: cover; background-repeat: no-repeat; width: 37%; display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; box-shadow: 0 0 20px black; margin: 0 auto; }

.video-text-container { display: -ms-flexbox; display: flex; margin-bottom: 90px; }

.fa-about { color: white; font-size: 72px; }

.video-text { font-size: 30px; color: white; text-transform: uppercase; }

.services { background-color: black; }

.services-header, .services-sub-header { text-align: center; text-transform: uppercase; }

.services-header { font-size: 30px; margin-bottom: 0; padding-top: 60px; color: white; }

.services-sub-header { font-size: 14px; color: #aeaeae; }

.services-grid { display: -ms-grid; display: grid; -ms-grid-columns: auto auto auto auto; grid-template-columns: auto auto auto auto; padding-top: 60px; }

.services-grid-header { color: white; font-size: 18px; text-transform: uppercase; font-weight: 900; }

.services-grid-text { color: #bebebe; font-size: 12px; font-weight: 100; }

.services-grid-item { margin-bottom: 60px; text-align: center; padding-bottom: 30px; border-left: 2px solid #373737; }

.services-grid-item:nth-child(4) { border-right: 2px solid #373737; }

.projects-header, .projects-sub-header { text-align: center; }

.projects-header { color: black; font-size: 30px; text-transform: uppercase; font-weight: 900; padding-top: 60px; }

.projects-sub-header { color: #aeaeae; font-size: 14px; text-transform: uppercase; }

.projects-menu-list { display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; list-style-type: none; text-align: center; border: 1px solid #bebebe; border-radius: 30px; }

.projects-menu-item { margin-right: 35px; display: -ms-flexbox; display: flex; }

.projects-menu-item > a { text-decoration: none; color: black; text-transform: uppercase; font-size: 14px; line-height: 50px; text-align: center; }

.projects-menu-item > a:after { content: ""; border: 3px solid #b88b58; display: block; visibility: hidden; }

.projects-menu-item > a:hover:after { visibility: visible; }

.projects-menu { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; padding-top: 54px; padding-bottom: 38px; }

.projects-gallery-grid { display: -ms-grid; display: grid; -ms-grid-columns: auto auto auto auto; grid-template-columns: auto auto auto auto; grid-gap: 30px; padding-bottom: 30px; }

.projects-gallery-item { padding: 30.5px 5.5px; background-image: url("/images/img1.jpg"); background-size: contain; background-repeat: no-repeat; }

.projects-gallery-item:hover { -webkit-filter: brightness(50%); filter: brightness(50%); }

.projects-gallery-item:hover .projects-gallery-layer { visibility: visible; cursor: default; }

.projects-btn { width: 194px; height: 45px; background-color: #b88b58; border: none; border-radius: 25px; color: white; font-weight: 700; font-size: 12px; text-transform: uppercase; transition: all 0.4s linear; }

.projects-btn:hover { cursor: pointer; transform: scale(1.1); box-shadow: 0 0 6px black; }

.projects-btn-container { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; padding-bottom: 58px; }

.gallery-layer-header { font-size: 18px; text-align: center; color: white; }

.gallery-layer-text { font-size: 12px; text-align: center; color: white; }

.projects-gallery-layer { visibility: hidden; }
/*# sourceMappingURL=style.css.map */