@import url("https://fonts.googleapis.com/css?family=Montserrat|PT+Sans|Quicksand");

//Variables SASS
$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-m: 18px;
$font-size-xm: 21px;
$font-size-l: 24px;
$font-size-xl: 30px;
$font-size-xxl: 48px;
$font-size-xxxl: 72px;
$ivory: #F0F0F0;
$brown: #b88b58;
$white: white;
$black: black;
$almost-black: #242424;
$light-grey: #aeaeae;
$medium-gray: #7e7e7e;
$dark-grey: #373737;
$grey: #bebebe;
$grid-col-4: auto auto auto auto;

@mixin btn-norm {
  width: 194px;
  height: 45px;
  background-color: $brown;
  border: none;
  border-radius: 25px;
  color: $white;
  font-weight: 700;
  font-size: $font-size-xs;
  text-transform: uppercase;
  transition: all 0.4s linear;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 0 6px $black;
  }
}

//Content

* {
  box-sizing: border-box;
  //border: 0.2px solid red;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

// Nav section

nav {
  background-color: $black;
  height: 90px;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-list {
  display: flex;
  list-style-type: none;
  font-size: $font-size-s;
  text-transform: uppercase;
  font-weight: 700;
}

.menu-item {
  margin-left: 15px;
  margin-top: 25px;
  text-align: center;
  &:after {
    content: "";
    border: 5px solid $brown;
    display: inline-block;
    vertical-align: bottom;
    width: 85%;
    margin-top: 22px;
    visibility: hidden;
  }

  &:hover {
    &:after {
      visibility: visible;
    }
  }

  > a {
    text-decoration: none;
    color: $white;
  }
}

// Hero section

.hero {
  height: 90.5vh;
  background-image: url("/images/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-header {
  font-size: $font-size-xxxl;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 auto;
}

.hero-header-one {
  color: $white;
}

.hero-header-two {
  color: $brown;
}

.hero-phone {
  color: $white;
  font-size: $font-size-l;
}

.hero-btn {
  @include btn-norm();
}

.hero-carousel-circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 3px solid $brown;
  margin: 8px;
}

.carousel-circle-active {
  background-color: $brown;
}

.hero-carousel-circles {
  display: flex;
  position: absolute;
  bottom: 4vh;
}

.hero-phone-btn {
  height: 65px;
  width: 65px;
  border: none;
  border-radius: 50%;
  background-color: $brown;
  color: $white;
  transform: rotate(-45deg);
  position: relative;
  left: 42vw;
  bottom: -29vh;
  box-shadow: 0 0 20px black;
}

.fa-phone-hero {
  color: $white;
  font-size: $font-size-xxl;
}

// About section

.about {
  //height: 450px;
  background-color: $ivory;
}

.about-header,
.about-sub-header {
  text-align: center;
  text-transform: uppercase;
}

.about-header {
  font-size: $font-size-xl;
  font-weight: bolder;
  padding-top: 63px;
  margin-top: 0;
}

.about-sub-header {
  font-size: $font-size-s;
  color: $light-grey;
}

.about-header-container {
  padding-bottom: 55px;
}

.about-text-container {
  width: 57%;
}

.about-btn {
  @include btn-norm();
  margin-top: 34px;
}

.about-paragraph {
  margin-top: 0;
}

.about-video-container {
  background-image: url("/images/video1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 37%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 20px black;
  margin: 0 auto;
}

.video-text-container {
  display: flex;
  padding-bottom: 60px;
}

.fa-about {
  color: $white;
  font-size: $font-size-xxxl;
}

.video-text {
  font-size: $font-size-xl;
  color: $white;
  text-transform: uppercase;
}

// Services section

.services {
  background-color: $black;
}

.services-header,
.services-sub-header {
  text-align: center;
  text-transform: uppercase;
}

.services-header {
  font-size: $font-size-xl;
  margin-bottom: 0;
  padding-top: 60px;
  color: $white;
  margin-top: 0;
}

.services-sub-header {
  font-size: $font-size-s;
  color: $light-grey;
}

.services-grid {
  display: grid;
  grid-template-columns: $grid-col-4;
  padding-top: 60px;
}

.services-grid-header {
  color: $white;
  font-size: $font-size-m;
  text-transform: uppercase;
  font-weight: 900;
}

.services-grid-text {
  color: $grey;
  font-size: $font-size-xs;
  font-weight: 100;
}

.services-grid-item {
  margin-bottom: 60px;
  text-align: center;
  padding-bottom: 30px;
  border-left: 2px solid $dark-grey;
  &:nth-child(4) {
    border-right: 2px solid $dark-grey;
  }
}

// Projects section

.projects {
    background-color: $ivory;
}

.projects-header,
.projects-sub-header {
  text-align: center;
}

.projects-header {
  color: $black;
  font-size: $font-size-xl;
  text-transform: uppercase;
  font-weight: 900;
  padding-top: 60px;
  margin-top: 0;
}

.projects-sub-header {
  color: $light-grey;
  font-size: $font-size-s;
  text-transform: uppercase;
}

.projects-menu-list {
  display: flex;
  align-items: center;
  list-style-type: none;
  text-align: center;
  border: 1px solid $grey;
  border-radius: 30px;
}

.projects-menu-item {
  margin-right: 35px;
  display: flex;

  > a {
    text-decoration: none;
    color: $black;
    text-transform: uppercase;
    font-size: $font-size-s;
    line-height: 50px;
    text-align: center;

    &:after {
      content: "";
      border: 3px solid $brown;
      display: block;
      visibility: hidden;
    }

    &:hover {
      &:after {
        visibility: visible;
      }
    }
  }
}

.projects-menu {
  display: flex;
  justify-content: center;
  padding-top: 54px;
  padding-bottom: 38px;
}

.projects-gallery-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 30px;
  padding-bottom: 30px;
}

.projects-gallery-item {
  padding: 30.5px 5.5px;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.4s linear;
  &:hover {
    filter: brightness(50%);
    cursor: pointer;
  }
  &:hover {
    .projects-gallery-layer {
      visibility: visible;
      cursor: pointer;
    }
  }
}

.gallery-item-1 {
  background-image: url("/images/img1.jpg");
}

.gallery-item-2 {
  background-image: url("/images/img8.jpg");
}

.gallery-item-3 {
  background-image: url("/images/img3.jpg");
}

.gallery-item-4 {
  background-image: url("/images/img4.jpg");
}

.gallery-item-5 {
  background-image: url("/images/img5.jpg");
}

.gallery-item-6 {
  background-image: url("/images/img6.jpg");
}

.gallery-item-7 {
  background-image: url("/images/img7.jpg");
}

.gallery-item-8 {
  background-image: url("/images/img8.jpg");
}

.gallery-item-9 {
  background-image: url("/images/img9.jpg");
}

.gallery-item-10 {
  background-image: url("/images/img10.jpg");
}

.gallery-item-11 {
  background-image: url("/images/img11.jpg");
}

.gallery-item-12 {
  background-image: url("/images/img12.jpg");
}
.projects-btn {
  @include btn-norm();
}

.projects-btn-container {
  display: flex;
  justify-content: center;
  padding-bottom: 58px;
}

.gallery-layer-header {
  font-size: $font-size-m;
  text-align: center;
  color: $white;
}

.gallery-layer-text {
  font-size: $font-size-xs;
  text-align: center;
  color: $white;
}

.projects-gallery-layer {
  visibility: hidden;
  transition: all 0.4s linear;
}

// Team section

.team {
  background-image: url("/images/team-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.team-header-container {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 40px;
}

.team-header {
   font-size: $font-size-xl;
   text-transform: uppercase;
   color: $white;
}

.team-sub-header {
    color: $light-grey;
    font-size: $font-size-s;
    text-transform: uppercase;
}

.team-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 30px;
}

.team-grid-item {
  background-color: $white;
}

.team-grid-img {
  padding: 45px 81px;
}

.team-img-header {
  font-size: $font-size-xm;
  text-transform: uppercase;
  color: $almost-black;
  text-align: center;
  margin-top: -15px;
  margin-bottom: 3px;
}

.team-img-sub-header {
  font-size: $font-size-xs;
  color: $almost-black;
  text-align: center;
  font-weight: 200;
}

.team-social-btn {
  width: 33px;
  height: 33px;
  border: none;
  border-radius: 50%;
  margin: 0 auto;
  background-color: $grey;
  transition: all.4s linear;
  &:hover {
    background-color: $brown;
    cursor: pointer;
  }
}

.team-social-icon {
  font-size: $font-size-s;
  color: $white;
}

.team-btn-container {
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.team-carousel-circles {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 45px;
}

// Clients section

.clients {
    text-align: center;
    background-color: #F0F0F0;
}

.clients-header {
    font-size: $font-size-xl;
    text-transform: uppercase;
    padding-top: 60px;
    font-weight: 700;
    margin-top: 0;
}

.clients-sub-header {
    font-size: $font-size-s;
    color: $light-grey;
    text-transform: uppercase;
    padding-bottom: 70px;
}

.clients-img-header {
    font-size: $font-size-l;
    padding-top: 30px;
}

.clients-img-sub-header {
    font-size: $font-size-m;
}

.clients-icon {
    font-size: $font-size-xm;
    color: $medium-gray;
    padding-top: 30px;
    padding-bottom: 18px;
}

.clients-description-text {
    width: 50%;
    margin: auto;
    font-size: $font-size-s;
    color: $medium-gray;
}

.clients-carousel-circles {
    display: flex;
    justify-content: center;
    padding-top: 51px;
    padding-bottom: 42px;
}

// Clients logo section

.clients-logo {
    border-top: 1px solid $grey;
    border-bottom: 1px solid $grey;
}

.clients-logo-container {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 50px;
}






